#brand-logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#brand-logo-img img {
  margin-right: 10px; /* Add some space between the image and text if desired */
}