<h1>Confirmación de cuenta</h1>
<p>
  Estimado {{user}} {{lastname}} <br> 
  Para poder confirmar su cuenta en ProjNotes
  es necesario hacer clic en el siguiente enlace:
</p>
<p>
  URL: {{host}}/user/confirm/{{token}}
</p>